body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0, 8, 51, 0.9)), url(https://upload.wikimedia.org/wikipedia/commons/f/f6/Swiss_National_Park_131.JPG);
  
  --transition-speed: 600ms;
  --input-border-color: #00B4CC;

  --button-color: rgb(111, 40, 210);
  --button-color-hover: rgb(77, 24, 150);
}